{% extends 'body.html' %}
{% load static %}
{% block head %}
    <link href="{% static 'lib/datatables.min.css' %}" rel="stylesheet">

    <script src="{% static 'lib/datatables.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fa-solid fa-magnifying-glass"></i>
                {{ title }}
            </h3>
        </div>

        <div class="card-body">
            <table class="table" id="data">
                <thead>
                {% block columns %}

                {% endblock %}

                </thead>
                <tbody>
                {% block rows %}

                {% endblock %}

                </tbody>
            </table>
        </div>

        <div class="card-footer">
            <a href="{{ create_url }}" class="btn btn-primary btn-flat btnTest">
                <i class="fa-solid fa-plus"></i> Nuevo Registro
            </a>
        </div>

    </div>
{% endblock %}

{% block javaScript %}
    <script type="application/javascript">
        new DataTable('#data', {
            responsive: true,
            autoWidth: false
        });
        $(`.btnTest`).on('click', () => {
            $.ajax({
                url: '{% url 'erp:category_list' %}',
                type: 'POST',
                data: {id: 1},
                dataType: 'json'
            }).done((data) => {
                console.log(data)
            }).fail((data) => {
                alert("error");
            }).always((data) => {
                alert("complete");
            });
        });
    </script>
{% endblock %}